@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-family: 'Poppins';
  background-color: #010101;
  width: 100%;
}

@media screen and (min-width: 1435px) {
    .landing-message {
        margin-top: 165px;
        color: #fff;
        position: relative;
        z-index: 1;
        margin-left:70px !important;
    }
    

    .upper-landing {
        font-size: 56px !important;
        font-weight: 500;
        margin-bottom: 27px;
    }
    
    .not-so-upper-landing {
        margin-top: -20px;
    }
    
    .white-stabilo {
        color: #010101;
        margin-left: 5px;
        padding: 2px 10px 2px 10px;
        background-color:#fff;
        font-weight:700;
    }
    
    .down-landing {
        margin-bottom: 31px;
    }
    
    .btn {
        background-color: #fff !important;
        padding: 15px 25px 15px 25px;
        font-size: 21px;
        font-weight:500;
        border-radius: 10px;
    }
    
    .welcomePhone {
        width: 100%;
        object-fit: cover;
        position:relative;
        z-index: -1;
    }
  }

  @media screen and (max-width: 1434px) {
    .landing-message {
        margin-top: 165px;
        color: #fff;
        position: relative;
        z-index: 1;
        margin-left:70px !important;
    }
    

    .upper-landing {
        font-size: 48px !important;
        font-weight: 500;
        margin-bottom: 27px;
    }
    
    .not-so-upper-landing {
        margin-top: -20px;
    }
    
    .white-stabilo {
        color: #010101;
        margin-left: 5px;
        padding: 2px 10px 2px 10px;
        background-color:#fff;
        font-weight:700;
    }
    
    .down-landing {
        margin-bottom: 31px;
    }
    
    .btn {
        background-color: #fff !important;
        padding: 15px 25px 15px 25px;
        font-size: 21px;
        font-weight:500;
        border-radius: 10px;
    }
    
    .welcomePhone {
        width: 100%;
        object-fit: cover;
        position:relative;
        z-index: -1;
    }
  }

  @media screen and (max-width: 1305px) {
    .landing-message {
        margin-top: 120px;
        color: #fff;
        position: relative;
        z-index: 1;
        margin-left:70px !important;
    }
    

    .upper-landing {
        font-size: 40px !important;
        font-weight: 500;
        margin-bottom: 27px;
    }
    
    .not-so-upper-landing {
        margin-top: -20px;

    }
    
    .white-stabilo {
        color: #010101;
        margin-left: 5px;
        padding: 2px 10px 2px 10px;
        background-color:#fff;
        font-weight:700;
    }
    
    .down-landing {
        margin-bottom: 31px;
        font-size: 14px;
    }
    
    .btn {
        background-color: #fff !important;
        padding: 15px 25px 15px 25px;
        font-size: 15px;
        font-weight:500;
        border-radius: 10px;
    }
    
    .welcomePhone {
        width: 100%;
        object-fit: cover;
        position:relative;
        z-index: -1;
    }
  }

  @media screen and (max-width: 1080px) {
    .landing-message {
        margin-top: 50px;
        color: #fff;
        position: relative;
        z-index: 1;
        margin-left:70px !important;
    }

    .upper-landing {
        font-size: 27px !important;
        font-weight: 500;
        margin-bottom: 13px;
    }

    .not-so-upper-landing {
        margin-top: -20px;
    }

    .down-landing {
        font-size: 11px
    }

    .white-stabilo {
        color: #010101;
        margin-left: 5px;
        padding: 0 5px 0 5px;
        background-color:#fff;
        font-weight:700;
    }

    .btn {
        background-color: #fff !important;
        padding: 10px 15px 10px 15px;
        font-size: 12px;
        font-weight:500;
        border-radius: 10px;
    }
    .welcomePhone {
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
  }

@media screen and (max-width: 768px) {
    .landing-message {
        margin-top: 50px;
        color: #fff;
        position: relative;
        z-index: 1;
        margin-left:70px !important;
    }

    .upper-landing {
        font-size: 21px !important;
        font-weight: 500;
        margin-bottom: 13px;
    }

    .not-so-upper-landing {
        margin-top: -20px;
    }

    .down-landing {
        font-size: 11px
    }

    .white-stabilo {
        color: #010101;
        margin-left: 5px;
        padding: 0 5px 0 5px;
        background-color:#fff;
        font-weight:700;
    }

    .btn {
        background-color: #fff !important;
        padding: 10px 15px 10px 15px;
        font-size: 12px;
        font-weight:500;
        border-radius: 10px;
    }
    .welcomePhone {
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
  }


  @media screen and (max-width: 575px) {
    .landing-message {
        margin-top: 15px !important;
        color: #fff;
        position: relative;
        z-index: 1;
        margin-left: 20px !important;
        margin-right: 20px;
        padding: 20px;
    }

    .upper-landing {
        font-size: 24px !important;
        font-weight: 500;
    }

    .not-so-upper-landing {
        margin-top: -20px;
    }

    .down-landing {
        font-size: 12px
    }

    .white-stabilo {
        color: #010101;
        margin-left: 5px;
        padding: 0 5px 0 5px;
        background-color:#fff;
        font-weight:700;
    }

    .btn {
        background-color: #fff !important;
        padding: 10px 15px 10px 15px;
        font-size: 11px;
        font-weight:500;
        border-radius: 10px;
    }
    .welcomePhone {
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
        margin-top: -375px;
    }
  }