.product-el {
    background-color: #e4e7e8 !important;
}

.product-el2 {
    background-color: #e4e7e8 !important;
}

.text-jumbotron h5:nth-child(n+0){
    color:#010101;
}
.text-jumbotron h5:nth-child(n+1){
    color:#fff;
}

.content2{
    text-align: left;
    display: flex;
    margin: 50px 90px 0 90px;
}

.content-22{
    margin-left: 45px;
}

.minitron-content img{
    height: 100%;
    width: 625px;
    border-radius: 10px;
}
.half-minitron-content{
    margin-bottom: 65.25px;
}
.half-minitron-content img{
    height: 100%;
    width: 625px;
    border-radius: 10px;
}
 .minitron-caption {
     margin: -50px 0 0 25px;
     color: #fff;
 }


 .catalog-card{
    display: block;
    text-align: center;
}

.card-wrapper3 {
    display: inline-block;
    margin: 50px 0 0 0;
    position: relative;
    background-color: #e4e7e8 !important;
}
.card3{
    width: 230px;
    height: 375px;
    border: none;
    box-shadow: 6px 6px 12px #cfd2d3,
                -6px -6px 12px #f9fcfd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-right: 40px;
}

.card-products{
    height: 167px;
    width: 125px;
    margin: 5px 0 15px 25px;
    }
.card-products img {
    height: 100%;
    width: 100%;
    margin-left: 20px;
}

.details2{
    background: #e4e7e8;
    z-index: 1;
    padding: 5px;
}
h2{
    padding: 0;
    text-align: center;
}
.product-type2{
    font-size: 14px !important;
    color: #173F5F;
    font-weight: 300 !important;
}
.product-vendor2{
    font-size: 24px !important;
    color: #010101;
    font-weight: 600 !important;
    display: block;
}

.product-session-title{
    margin: 0 0 0 70px;
}
.product-session-input{
    width: 415px !important;
}

.product-price {
    font-size: 21px !important;
    font-weight: 600 !important;

}
.button-click-product{
    display: inline-flex;
    text-align: center;
    margin-top: -5px;
}

.icon-buy1{
    background-color: transparent;
    padding: 0;
    width: 75px;
    height: 35px;
    border-radius: 5px;
    border: 1.5px solid #010101;
}
.icon-buy1:hover{
    background-color: #010101;
    color:#fff;
}
.icon-buy2{
    padding: 0;
    background-color: transparent;
    margin-left: 18px;
    width: 75px;
    height: 35px;
    border-radius: 5px;
    border: 1.5px solid #010101;
}
.icon-buy2:hover{
    background-color:#fff;
}